
  button {
      width: 80px;
      height: 30px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      outline: none;
  }
  